Thumbs.db
*.obj

*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.sdf
*.opensdf
*.dxf
*.pcd
*.tlog
*.ipch
[Bb]in
[Dd]ebug*/

*.sbr
obj/

_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.tlog


*.mp3
*.mp4
[Rr]elease/Image/
[Rr]elease/ShareFolder/